@model EFandLINQPractices.Models.SubjectAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubjectAssignment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.students.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.students.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subjects.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subjects.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
